body {
  margin:0;
  background:#020617;
  color:white;
}

/* Hide until game starts */
#scoreboard,
#controls {
  display: none;
}

#scoreboard {
  position:absolute;
  width:100%;
  top:0;
  background:black;
  display:flex;
  justify-content:space-between;
  padding:8px;
  font-weight:bold;
}

canvas {
  width:100%;
  height:100vh;
}

#controls {
  position:absolute;
  bottom:10px;
  width:100%;
  text-align:center;
}

button {
  padding:12px;
  margin:5px;
}

#menu {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}
